.course-timeline-block-container {
    padding-bottom: 10px;
}

.course-timeline-block-container .card-actions {
    float: right;
}

.course-timeline-block {
    padding: 10px;
    border: 1px #ccc solid;
    cursor: pointer;
}

.course-timeline-lesson {
    padding: 10px;
    margin: 0 0;
    clear: both;
}

.course-timeline-lesson-step-circle {
    width: 50px;
    float: left;
}

.course-timeline-lesson-content {
    float: left;
}

/** */
.timeline {
    list-style: none;
}

.timeline > li {
    margin-bottom: 0;
    /*border-bottom: 1px solid #e2e2e2;*/
}

.timeline > li:hover {
    background-color: #daffdb;
    cursor: pointer;
}

.timeline > li:hover .timeline-content h3 {
    font-weight: bold;
}



/* for Desktop */
@media (min-width: 640px) {
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }

    .timeline-date {
        width: 60px;
        float: left;
        margin-top: 15px;
    }

    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
        padding-top: 20px;
    }

    .timeline-content:before {
        content: "";
        width: 22px;
        height: 22px;
        position: absolute;
        left: 50px;
        top: 24px;
        border-radius: 100%;

        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }

    .timeline-content.step-end:before {
        content: "✔";
        background: #b7f1ba;
        color: green;
    }

    .timeline-content.step-empty:before {
        content: "\23F3";
        background: #cbcbcb;
        color: #8c8c8c;
        line-height: 25px;
    }

    .timeline-content.step-work:before {
        content: "★";
        background: #ffd5b3;
        color: #cb3333;
    }
}


.timeline-lesson-meta {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #c5ffc5;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    color: #797979;
    background-color: aliceblue;
}