
.progress-bar {
    height: 10px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    margin-bottom: 10px;
}

.progress-bar .progress {
    background: #126690;
    height: 100%;
    width: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: solid 5px white;
    display: block;
}

.img.lazy-img-loaded > div {
    width: 100%;
    height: 100%;
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    border: solid 10px rgba(255,255,255,0.5);
}

.img.lazy-img-loading:before {
    position: absolute;
    content: '';
    border: 10px solid rgba(255,255,255,0.3);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: Spin 2s linear infinite;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.img {
    width: 33.333%;
    height: 200px;
    text-align: center;
    padding: 1%;
    float: left;
    position: relative;
    perspective: 300px;
}

.img.lazy-img-loaded > div {
    animation: ImageLoaded 1s ease-in forwards;
}

@keyframes Spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@keyframes ImageLoaded {
    0% {
        opacity: 0;
        transform: scale(0.8) rotateX(20deg);
    }
}

@media all and (max-width: 750px) {
    .img {
        width: 50%;
        height: 250px;
    }
}

@media all and (max-width: 550px) {
    .img {
        width: 100%;
        height: 300px;
    }
}

.lazy-img-error img {
    width: 200px;
    height: 200px;
}